* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.page1 {
    height: 100vh;
    width: 100%;
    background-image: url('/images/landing-page.jpg');
    background-size: cover;
    position: relative;
}
.page1 div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    font-size: 40px;
}
.page1 div span {
    color: #00c7ff;
}
.page1 div button {
    background-color: #252934;
    color: white;
    border: 2px solid white;
    padding: 5px 15px;
    margin-top: 20px;
    font-size: 20px;
}
.page1 div button .material-icons {
    font-size: 15px;
}
.page1 div button:hover {
    background-color: #00c7ff;
    border-color: #00c7ff;
    animation-name: mainbutton;
    animation-duration: .5s;
}

.nav {
    display: block;
    padding: 10px 10px 10px 300px !important;
    border-bottom: 3px solid #00c7ff;
    background-color: #1B242F;
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav a {
    padding: 0 10px;
    color: white;
}
.nav a:hover {
    text-decoration: none;
    color: #00c7ff;
    animation-name: navhover;
    animation-duration: .5s;
}
@keyframes navhover {
    from {color: white;}
    to {color: #00c7ff;}
}


.page2 {
    padding: 97px 0;
}
.page2 h1 {
    text-align: center;
    font-size: 40px;
    padding: 0 0 50px 0;
}
.page2 .aboutwrapper {
    display: flex;
}
.whoami {
    flex-grow: 1;
}
#pranavpic {
    width: 284px;
    height: 284px;
    display: block;
    margin: auto;
}
#pranavpic img {
    width: 100%;
    height: 100%;
}
.whoamitext {
    text-align: center;
    padding-top: 20px;
}
.whoamitext a {
    color: #007BFF;
    text-decoration: none;
}

.skills {
    flex-grow: 1;
    padding: 50px 200px 0 50px;
}
.skillswrapper {
    align-self: center;
}
.progress-bar {
    position: relative;
}
.skills span {
    font-size: 15px;
    font-weight: 500;
    color: black;
    position: absolute;
    right: 210px;
}


.page3 {
    background-color: #F5F5F5;
    padding: 97px 50px 97px 50px;
}
.page3 h1 {
    text-align: center;
    font-size: 40px;
    padding: 0 0 50px 0;
}


.page3 .projectwrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: center;
}
.page3 .projects {
    position: relative;
    height: 230px;
    width: 390px;
}
.page3 .projects img {
    display: block;
    width: 100%;
    height: auto;
}
.page3 .projects .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}
.page3 .projects:hover .overlay {
    opacity: 1;
}
.page3 .projects .overlay .text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.page3 .projects .overlay .viewprojectbutton {
    top: 72%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #007BFF;
    padding: 3px 12px;
}
.page3 .projects .overlay .viewprojectbutton:hover {
    background-color: #007BFF;
    color: white;
    animation-name: viewprojectbutton;
    animation-duration: .5s;
}
@keyframes viewprojectbutton {
    from {background-color: white;}
    to {background-color: #007BFF;}
}

#blog h1 {
    text-align: center;
    font-size: 40px;
}
#blog {
    text-align: center;
    padding: 97px 0 97px 0;
    line-height: 50px;
    background-color: #E9ECEF;
}
#blog button {
    font-size: 25px;
    padding: 3px 20px 3px 20px;
}
#blog button:focus, #blog button:active {
    outline: none !important;
    box-shadow: none;
}

.page4 {
    background-color: #252934;
}
.page4 form {
    max-width: 500px;
    margin: auto;
    padding-bottom: 97px;
}
.page4 h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 97px 0 15px 0;
}
.page4 p {
    text-align: center;
    color: #00c7ff;
    margin-bottom: 35px;
}
.page4 form input, .page4 form textarea {
    color: #a8adaf;
    width: 500px;
    background-color: #1E242C;
    border: 0;
    padding: 5px 5px 5px 10px;
    font-size: 18px;
    margin-bottom: 4px;
}
.page4 form button {
    float: right;
    color: white;
    padding: 5px 20px;
    background-color: #252934;
    border: 2px solid white;
}
.page4 form button:hover {
    background-color: #00c7ff;
    border-color: #00c7ff;
    animation-name: mainbutton;
    animation-duration: .5s;
}
@keyframes mainbutton {
    from {background-color: #252934; border-color: white;}
    to {background-color: #00c7ff; border-color: #00c7ff;}
}
footer {
    width: 100%;
    height: 200px;
    background-color: #1B242F;
}
footer .socialicons {
    padding-top: 50px;
    text-align: center;
}
footer .socialicons ul li {
    display: inline-block;
    padding: 10px;
}
footer .socialicons .fa {
    color: #00c7ff;
    font-size: 35px;
}
footer .socialicons .fa:hover {
    color: white;;
    animation-name: socialbuttons;
    animation-duration: .5s;
}
@keyframes socialbuttons {
    from {color: #00c7ff;}
    to {color: white;}
}
footer .copyright {
    color: grey;
    font-size: 15px;
    text-align: center;
    margin-top: -20px;
}



@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .page1 {
        background-image: none;
        background-color: #252934;
    }
    .nav {
        padding-left: 10px !important;
    }

    .page2 .aboutwrapper {
        flex-direction: column;
    }
    .skills {
        padding: 50px 200px 0 200px;
    }
    .page3 .projects {
        height: auto;
        width: auto;
    }
}



@media only screen and (min-width : 320px) and (max-width : 767px) {
    .page1 {
        background-image: none;
        background-color: #252934;
    }
    .nav a {
        display: block;
        padding: 10px 0;
    }
    .nav {
        padding-left: 10px !important;
        text-align: center;
        position: static;
    }

    .page2 .aboutwrapper {
        flex-direction: column;
    }
    .skills {
        padding: 50px 50px 0 50px;
        text-align: center;
    }
    .skills span {
        left: 50%;
        transform: translateX(-50%);
    }

    .page3 .projectwrapper {
        grid-template-columns: auto;
        grid-gap: 50px;
    }
    .page3 .projects {
        height: auto;
        width: auto;
    }
    .page3 .projects .overlay .text {
        width: 90%;
    }
    .page3 .project1 .overlay .viewprojectbutton {
        margin-top: 18px;
        width: 200px;

    }
    .page3 .project2 .overlay .viewprojectbutton {
        margin-top: 5%;
        width: 200px;
    }

    .page4 form {
        max-width: 400px;
        margin: auto;
        padding: 0 20px 97px 20px;
    }
    .page4 form input, .page4 form textarea {
        max-width: 400px;
        width: 100%;
    }
    .page4 form button {
        float: none;
        display: block;
        margin: auto;
    }
}


@media only screen and (max-width : 319px) {
    .page1 {
        width: 100%;
    }
    .nav a {
        display: block;
        padding: 10px 0;
    }
    .nav {
        padding-left: 10px !important;
        text-align: center;
        position: static;
    }
    .page2 .aboutwrapper {
        flex-direction: column;
    }
    #pranavpic {
        width: auto;
        height: auto;
    }
    .skills {
        padding: 50px 50px 0 50px;
        text-align: center;
    }
    .skills span {
        left: 50%;
        transform: translateX(-50%);
    }
    .page3 .projectwrapper {
        grid-template-columns: auto;
        grid-gap: 50px;
    }
    .page3 .projects {
        height: auto;
        width: auto;
    }
    .page4 {
        width: 100%;
    }
    .page4 form {
        max-width: 250px;
        margin: auto;
        padding-bottom: 97px;
    }
    .page4 form input, .page4 form textarea {
        max-width: 250px;
        width: 100%;
    }
    .page4 form button {
        float: none;
        display: block;
        margin: auto;
    }
}
